<div class="card mat-card">
    <div class="card-titles">
    <h2>Experiencia</h2>
    <div class="btn-edit" onclick="edit_experiencia()">
      <a href="#" class="btn-right">
        <i class="fa fa-pen"></i>
     </a>
 </div>
    <p id="text-experiencia">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas voluptatem itaque odit suscipit quo nulla quisquam ea expedita fugiat. Tempora veniam animi, explicabo nisi, quaerat cumque id tempore repellendus est laborum, repellat quo esse tenetur eligendi adipisci cum accusamus ducimus!</p>
    <div>
      <input id="edit-experiencia" type="text" oninput="editTextExperiencia(this.value)" style="display:none">
    </div>
    <h2>Educaci&oacute;n</h2>
    <div class="btn-edit" onclick="edit_educacion()">
      <a href="#" class="btn-right">
        <i class="fa fa-pen"></i>
     </a>
 </div>
    <p id="text-educacion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequuntur optio atque fuga assumenda corporis nobis expedita corrupti qui deleniti recusandae quibusdam, suscipit architecto deserunt commodi officia dolor in ut.</p>
  </div>
  <div>
    <input id="edit-educacion" type="text" oninput="editTextEducacion(this.value)" style="display:none">
  </div>
  </div>