<div class="grid-container">
    <header>
      <div class="nBarStyle">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark text-white">
        <a class="navbar-brand" href="index.html"><strong id="full-name">Raúl G. Guanca</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/ra_gabg" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="https://www.instagram.com/ra_gabg/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/raul.gabg" target="_blank"><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/ra%C3%BAl-gabriel-guanca-935828228/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              </li>
            </ul>          
            <div class="btnLog">
              <button type="button" class="btn" id="glogin" onclick="signIn()">login</button>
            </div>
        </div>          
        </nav>  
      </div>
    </header>  
      <div class="card mat-card" id="first-card">
        <div id="profile-background"><img [src]="miPortfolio.backImage"></div>
        <div id="info" style="padding: 16px">
          <div id="info-img">
            <img class="profile-image" [src]="miPortfolio.image" alt="Raúl Guanca">
          </div>
          <div id="info-data">
            <div class="btn-edit" onclick="edit_name()"><i class="fa fa-pen btn-right"></i></div>
              <h1 id="p-name">{{miPortfolio.name}}</h1>
              <input id="edit-name" type="text" oninput="editTextName(this.value)" style="display:none">
              <div id="info-main-skill"><h2>{{miPortfolio.mainSkill}}</h2></div>
              <div id="info-contact"> 
                <span>{{miPortfolio.ubicacion}}</span>
                <span><a href="#">Información de contacto</a></span>
              </div>         
              <img id="imgcon" [src]="miPortfolio.educationalIntitute.img" alt="CONICET">
              <span id="conicet"><a [href]="miPortfolio.educationalIntitute.url" target="_blank">
                {{miPortfolio.educationalIntitute.name}}</a></span>
                <img id="imgap" [src]="miPortfolio.program.img" alt="AP">  
              <span id="ap"><a [href]="miPortfolio.program.url" target="_blank">
                {{miPortfolio.program.name}}</a></span>      
          </div>
          </div>
          <div id="info-actions">
            <button type="button" class="btn btn-primary">Intereses</button>
            <button type="button" class="btn btn-light">Añadir sección</button>
            <button type="button" class="btn btn-light">Más...</button>
          </div>
        </div>
      </div>